body {
    height: 300vh;
}

.exemplo {
    width: 200px;
    height: 200px;
    line-height: 200px;
    color: #E6e6e4;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.exemplo1 {
    background-color: orangered;
    position: fixed;
    top: 50px;
    right: 0;
}

.exemplo2 {
    background-color: green;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.exemplofinal {
    position: relative;
    background-color: gold;
}

.exemplointerno {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color: blueviolet;

}